@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
}

#__next {
  min-height: 100%;
}

// Masonry
.masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.breadcrumbs li {
  margin-right: 0.5rem;
  opacity: 0.5;
}

.breadcrumbs li:after {
  content: ">";
  margin-left: 0.5rem;
}

.breadcrumbs li:last-child {
  margin-right: 0.5rem;
  opacity: 1;
}

.breadcrumbs li:last-child:after {
  content: none;
  margin-reference: unset;
}
